@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Figtree", sans-serif;
}

ul{
    list-style: none; /*this to remove the bullet point*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

html body{
    margin-top: 0;
    height: 100%;
    scroll-behavior: smooth;
}

nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-top: 0;

    min-block-size: 44px;
    padding: 6px 16px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

button{
    padding: 4px 32px;
    border: 2px 2px;
    block-size: 40px;
    border-radius: 4px;
    cursor: pointer;
    justify-content: center;
    border-style: none;
}
button:hover{
    background-color: lightgray;
}

a{
    cursor: pointer;
    text-decoration: none;
    color: rgb(92, 94, 98);
}
a:link, a:visited {
    color: rgb(92, 94, 98);
    text-decoration: none;
}


main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.blue-but{
    background-color: #1d78f0;
    color: white;
}
.blue-but:hover{
    background-color: #096cec;
}

.menu-button{
    border-radius: 4px;
    padding: 4px 16px;
    border: none;
    justify-content: space-between;
    background-color: white;
}
.menu-button:hover{
    background-color: lightgray;
}


.model-card{
    position: relative;
    text-align: center;
    color: white;

    background-position: center;
    scroll-snap-align: start;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /*height: 100vh;*/
    background: #f5f5f5;
    border-radius: 10px;
    /*padding: 15px;*/
    flex-shrink: 0;

    width: 100%;
    height: 100%;
    max-width: 984px;
    max-height: 580px;

    /*height: 100vh;              
    position: relative;
    display: flex;
    justify-content: center;
    scroll-snap-align: start;
    overflow: hidden;*/

}

.model-buttons{
    display: flex;
    gap: 8px;
}

.model-type{
    position: absolute;
    text-align: left;
    top: 25px;
    left: 25px;
    font-size: 17px;
    font-weight: 500;
}
.model-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    position: absolute;
    bottom: 35px;
    left: 35px;
    gap: 16px;
}

.model-pic{
    width: 100%;
    height: 100%;
    max-width: 984px;
    max-height: 580px;

    object-fit: cover;
    border-radius: 8px;

    /*height: 90vh;
    width: auto;
    max-width: 100%;
    object-fit: contain;
    align-self: flex-end;*/
}

.footer-list-item{
    margin-right: 14px;
    font-size: 12px;
    font-weight: 500;
    color:rgb(92, 94, 98);
}

#home{
    padding: 0px 14px;
    margin: 0;
}
#main-menu{
    margin: 0;
}
#help-menu{
    margin: 0;
}
.help-icons{
    height: 23px;
    width: 23px;
    margin-right: 4px;
}

ul{
    margin: 0;
}

#logo{
    display: inline;
    width: 120px;
    height: 23px;
}

#hero{
    position: relative;
    text-align: center;
}

#hero-pic{
    width: 100%;
    height: auto;
}

#model-cards{
    scroll-snap-type: y mandatory;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    gap: 20px;
    padding: 20px;
    overflow-x: auto;
}

#hero-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 5%;
    left: 50%;
    gap: 16px;
    color: white;
    transform: translateX(-50%);
}

#apr-thing{
    cursor: pointer;
}
.model-card a {
    color: white;
}

.model-card a:visited {
    color: white;
}
